/*_*/

body {
  background: #568a9b;
  color: #5d5d5d;
}

#series-list {
  overflow: hidden;
  list-style: none;
}

.series {
  float: left;
  margin-right: 2em; 
  margin-bottom: 2.5em;
  border: 2px solid #b076af;
  border-radius: 4px;
  padding: 5px;
  background: #5d5d5d;
  width: 214px;
  height: 310px;
}

#series-actions {
  width: 200px;
}

.series-image {
  width: 200px;
  height: 296px;
}

.series-update {
  margin-right: 15px;
  font-size: 18px;
  float:right;
  color: #f2f2f2;
}

.series-remove {
  color: #b076af;
  margin-right: 15px;
  font-size: 20px;
  float: right;
}

.series-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
}

.series-menu {
  position: absolute;
  width: 200px;
  background: rgba(86,138,155,0.8);
  z-index: 100;
  padding-left: 5px;
  overflow: hidden;
}

.last-episode,
.last-session {
  font-size: 16px;
  color: #f2f2f2;
  padding: 0;
  margin: 0;
}

.last-episode {
  margin-bottom: 15px;
}

.navbar-default {
  border-radius: 0;
  background: #5d5d5d;
  border: none;
}

.navbar-brand {
  color: #fff !important;
}

#new-series {
  color: #b076af !important;
  cursor: pointer;
}

#go2-registrate {
  margin-top: 18px;
  font-size: 16px;
  color: #5d5d5d;
}

#registrate,
#signin {
  width: 40%;
}

#registrate input,
#signin input {
  margin-bottom: 15px;
}
