<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span >&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">New series</h4>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" ng-model="title" focus-me="{{ opened }}">
    </div>
    <div class="form-group">
      <label for="title">Image</label>
      <input type="text" class="form-control" id="image" placeholder="Image" ng-model="image">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">OK!</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
