<div class="container">
  <div id="series-search" class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-search"></span>
    </span>
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-remove" ng-click="query=''"></span>
    </span>
    <input type="text" class="form-control" ng-model="query">
  </div>
  <ul id="series-list">
    <li class="series" ng-repeat="series in seriesShelf.find('title', query)">
      <div class="series-menu">
        <div id="series-actions">
          <a class="series-remove" ng-click="removeSeries()"><span class="glyphicon glyphicon-remove-circle"></span></a>
          <a class="series-update" ng-click="updateSeries()"><span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
        <p class="last-session">Session: {{ series.data.session }}</p>
        <p class="last-episode">Episode: {{ series.data.episode }}</p>
      </div>
      <img class="series-image" src="/images/{{ series.data.image }}">
    </li>
  </ul>
</div>
