<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span >&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Update series</h4>
</div>
<div class="modal-body">
  <h2 class="series-title">{{ series.data().Title }}</h2>
  <form>
    <div class="form-group">
      <label for="title">Last session</label>
      <input type="text" class="form-control" id="title" placeholder="Last session" ng-model="session">
    </div>
    <div class="form-group">
      <label for="title">Last episode</label>
      <input type="text" class="form-control" id="image" placeholder="Last episode" ng-model="episode">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">OK!</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
