<!doctype html>
<html lang="de" ng-app="sj">
  <head>
    <meta charset="utf-8">
    <meta name="Tim Tochtermann" content="gr">
    <title>serienjunkie candyman</title>
    <link href="public/ext/bootstrap/dist/css/bootstrap.min.css" 
          rel="stylesheet" type="text/css">
    <link href="public/css/my.css" rel="stylesheet" type="text/css">
    <script src="public/ext/jquery/jquery.min.js"></script>
    <script src="public/ext/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="public/ext/angular/angular.min.js"></script>
    <script src="public/ext/angular-route/angular-route.min.js"></script>
    <script src="public/ext/angular-resource/angular-resource.min.js"></script>
    <script src="public/ext/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="public/ext/angular-sauth/angular-sauth.js"></script>
    <script src="public/js/main.js"></script>
    <script src="public/js/directives.js"></script>
    <script src="public/js/services.js"></script>
    <script src="public/js/controller.js"></script>
  </head>
 
  <body ng-controller="PageCtrl">
    <div class="alert alert-warning alert-dismissible" ng-show="globalError.show">
      <button type="button" class="close" aria-label="Close" ng-click="globalError.close()">&times;</button>
      <ul id="global-error-msg">
        <li ng-repeat="err in globalError.msg">{{err}}</li>
      </ul>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Candyman</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
          <li><a id="new-series" ng-click="newSeries()">New series</a></li>
        </ul>

      </div>
    </nav>

    <div id="page" ng-view></div>
  </body>

</html>
